@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 4px 5px lightgray;
  margin-bottom: 0;
}
header h1 {
  margin-bottom: 0;
  margin-top: 0;
}
header .resto-container {
  padding: 20px;
}
header .resto-container a i {
  display: flex;
  align-items: center;
  position: absolute;
  left: 25px;
  height: 25px;
  width: 25px;
  color: #000;
  transform: translateY(50%);
  font-size: 18px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ebe7e7;
  padding: 5px;
  margin-top: 3px;
  gap: 20px;
  font-size: 14px;
}
.location i {
  font-size: 15px;
}

.explorer {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
  background-color: #f3f3f3;
}
.explorerh2 {
  margin-top: 0;
}
.explorer button {
  margin-top: 12px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(#ff79DA, #9356DC);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  box-shadow: 3px 3px 6px lightgray;
}
.explorer button:hover {
  opacity: 0.8;
}

.loader {
  display: grid;
  place-items: center;
  position: fixed;
  background: white;
  opacity: 0.8;
  z-index: 1;
  inset: 0;
  animation: disappear 1s 2s;
  animation-fill-mode: forwards;
}
.loader::after {
  content: "";
  height: 50px;
  width: 50px;
  border-top: 6px solid #ff79DA;
  border-bottom: 6px solid #9356DC;
  border-right: 6px solid #99e2d0;
  border-radius: 50%;
  animation: spin 3s;
  opacity: 0;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
    color: white;
  }
}
@keyframes disappear {
  0% {
    opacity: 0.8;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1000;
  }
}

.fonctionnement {
  counter-reset: étapes;
}
.fonctionnement ol {
  display: flex;
  gap: 20px;
  padding-right: 40px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 10px 20px;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 3px 3px 6px lightgray;
}
.fonctionnement li::before {
  content: counter(étapes);
  counter-increment: étapes;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: -10px;
}
.fonctionnement li:hover {
  transform: scale(1.02);
}
.fonctionnement li i.fa-solid {
  margin-right: 10px;
}
.fonctionnement h2 {
  padding-left: 15px;
}

.menus {
  background-color: #f3f3f3;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.menus .menus_carte {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 0 0 10px 10px;
  gap: 20px;
}
.menus .menus_carte .restaurant {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}
.menus .menus_carte .comment {
  border-radius: 0 0 10px 10px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}
.menus .menus_carte .comment .coeur_on {
  background-image: linear-gradient(#ff79da, #9356cd);
  color: transparent;
  background-clip: text;
  opacity: 0;
  position: absolute;
  right: 25px;
  transition-duration: 1s;
}
.menus .menus_carte .comment:hover .coeur_on {
  opacity: 1;
}

.carte1 {
  text-decoration: none;
  margin-top: 0;
}
.carte1 .image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: block;
}
.carte1 .new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 5px;
  border-radius: 2px;
}
.carte1 .texte {
  border-radius: 0 0 10px 10px;
  color: black;
  display: flex;
  flex-direction: column;
}
.carte1 .texte h3 {
  margin-bottom: 0;
}
.carte1 .texte p {
  margin-top: 6px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 300;
}
footer a.link {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .carte .menu-détaillé1 {
    Width: 33%;
  }
}
.menu {
  padding-right: 25px;
}

.carte {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte .menu-détaillé1 {
  padding-left: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte .menu-détaillé1 h3 {
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 5px;
}
.carte .menu-détaillé1 p {
  margin-top: 5px;
}
.carte .menu-détaillé1 hr {
  color: #99e2d0;
  margin-left: 0px;
  width: 45px;
}
.carte .menu-détaillé1 a.card-plat {
  animation: slide-up 1s ease-in-out forwards;
  background-color: white;
  display: flex;
  border-radius: 12px;
  box-shadow: lightgray 3px 3px 20px;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes slide-up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
.carte .menu-détaillé1 a.card-plat .container-texte {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte .menu-détaillé1 a.card-plat .container-texte h4 {
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte .menu-détaillé1 a.card-plat .texte-principal {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte .menu-détaillé1 a.card-plat .texte-principal p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte .menu-détaillé1 a.card-plat .texte-prix {
  margin-left: auto;
  font-weight: 900;
  margin-right: 10px;
}
.carte .menu-détaillé1 a.card-plat .texte-prix h4 {
  margin-top: 15px;
}
.carte .menu-détaillé1 a.card-plat .texte-select {
  background-color: #99e2d0;
  height: 100%;
  border-radius: 0 12px 12px 0;
  margin-right: -70px;
  width: 70px;
  transition: margin-right 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.carte .menu-détaillé1 a.card-plat .texte-select i {
  color: white;
  font-size: 25px;
}
.carte .menu-détaillé1 a.card-plat:hover .texte-select {
  margin-right: 0;
}
.carte .menu-détaillé1 a.card-plat:hover i {
  animation: rotation 1s ease-in-out;
}
@keyframes rotation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.resto h2 {
  font-family: "shrikhand", "sans-serif";
}
.resto .coeur_on {
  background-image: linear-gradient(#ff79da, #9356cd);
  color: transparent;
  background-clip: text;
  opacity: 0;
  position: absolute;
  right: 25px;
  transition-duration: 1s;
}
.resto:hover .coeur_on {
  opacity: 1;
}

.commande {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.commande .commandBtn {
  padding: 10px 15px;
  border-radius: 100px;
  border: 0;
  color: white;
  font-size: 18px;
  background-image: linear-gradient(to bottom, #ff79da, #9356cd);
  box-shadow: 2px 2px 10px #686868;
  cursor: pointer;
}
.commande .commandBtn:hover {
  transform: scale(1.03);
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
