@mixin rotation {
    @keyframes rotation {
        0% {
            transform: rotate(-270deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}

@mixin slide-up {
    @keyframes slide-up {
        0% {
            transform: translateY(250px);
        }
        100% {
            transform: translateY(0);
        }
    }
}