header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 4px 5px lightgray;
    margin-bottom: 0;
    & h1 {
        margin-bottom: 0;
        margin-top: 0;
    }
    & .resto-container {
        padding: 20px;
        & a {
            & i {
                display: flex;
                align-items: center;
                position: absolute;
                left: 25px;
                height: 25px;
                width: 25px;
                color: #000;
                transform: translateY(50%);
                font-size: 18px;
            }
        }
    }
}